.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    z-index: 10;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  
  @media screen and (max-width: 640px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 1.14;
      max-width: 288px;
    }
  }