.cover__title {
    margin: 0 auto 32px auto;
    max-width: 560px;
    z-index: 10;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
  }
  
  @media screen and (max-width: 640px) {
    .cover__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 1.09;
      margin: 0 auto 16px auto;
    }
  }